* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
}

html, body {
    width: 100%;
    height: auto;
    background-color: hsl(0, 0%, 99%);
    color: hsl(200, 15%, 8%);
    padding: 0;
    margin: 0;
}

#container.dark-mode {
    height: 100%;
    background-color: hsl(207, 26%, 17%);
    color: hsl(0, 100%, 100%);
}

#container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.nav-section {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: hsl(0, 100%, 100%);
    padding: 0 40px;
}

#container.dark-mode .nav-section {
    background-color: hsl(209, 23%, 22%);
    color: hsl(0, 100%, 100%);
}

.nav-section .nav-left h3 {
    font-size: 16px;
    font-weight: 800;
}

.nav-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-right button {
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: none;
    cursor: pointer;
}

#container.dark-mode .nav-right button{
    background-color: hsl(209, 23%, 22%);
    color: hsl(0, 100%, 100%);
}

.nav-right button span {
    width: 16px;
    height: 14px;
    background-image: url('/assets/icon/moon-light.png');
    background-size: contain;
    background-repeat: no-repeat;
}

#container.dark-mode .nav-right button span {
    width: 16px;
    height: 14px;
    background-image: url('/assets/icon/moon-dark.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.nav-right button p {
    font-size: 13px;
    font-weight: 600;
}

.search-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 40px 20px;
}

.search-section .search-left {
    width: 400px;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 22px;
}

#container.dark-mode .search-left {
    background-color: hsl(209, 23%, 22%);
}

.search-left button span {
    display: block;
    width: 16px;
    height: 16px;
    background-image: url('/assets/icon/search.png');
    background-size: contain;
    background-repeat: no-repeat;
}

#container.dark-mode .search-left button span {
    display: block;
    width: 16px;
    height: 16px;
    background-image: url('/assets/icon/search-white.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: hsl(209, 23%, 22%);
}

.search-left button:hover {
    cursor: pointer;
}


.search-left input {
    width: 90%;
    padding-left: 20px;
}

#container.dark-mode .search-left input {
    background-color: hsl(209, 23%, 22%);
    color: white;
}

.search-left button,
.search-left input {
    border: none;
}

.search-left input:focus {
    outline: none;
}

.search-left button img {
    width: 16px;
    height: 16px;
}

.search-right {
    display: flex;
    flex-direction: column;
    position: relative;
}

.search-right .dropdown-container {
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
}

#container.dark-mode .search-right .dropdown-container {
    background-color: hsl(209, 23%, 22%);
}

.dropdown-container button {
    border: none;
    cursor: pointer;
}

.dropdown-container button span {
    display: block;
    width: 16px;
    height: 16px;
    background-image: url('/assets/icon/down-arrow.png');
    background-size: contain;
    background-repeat: no-repeat;
}

#container.dark-mode .dropdown-container button span {
    display: block;
    width: 16px;
    height: 16px;
    background-color: hsl(209, 23%, 22%);
    background-image: url('/assets/icon/down-arrow-white.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.search-right .bridge {
    background-color: transparent;
    height: 10px;
}

.dropdown-content {
    width: 200px;
    position: absolute;
    top: 46px;
    display: none;
    padding: 20px 20px;
    background-color: white;
}

#container.dark-mode .dropdown-content {
    background-color: hsl(209, 23%, 22%);
}

.search-right:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}

.dropdown-content button {
    padding: 4px 0;
    text-align: left;
    border: none;
    cursor: pointer;
}

#container.dark-mode .dropdown-content button {
    background-color: hsl(209, 23%, 22%);
    color: white;
}

/* Main section */
#main {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    padding: 40px 20px;
}

.country {
    width: 80%;
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 30px 0;
    margin-bottom: 20px;
}

#container.dark-mode .country {
    background-color: hsl(209, 23%, 22%);
}

.country .img {
    width: 100%;
}

.img img {
    width: 100%;
    height: 180px;
}

.country .context {
    padding: 20px;
}

.context h1 {
    padding-bottom: 10px;
}

.context p {
    padding-bottom: 10px;
}

/* Responsive CSS */
@media only screen and (max-width: 756px) {
    .search-section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .search-section .search-left {
        padding-bottom: 20px;
    }

    .search-section .search-right {
        padding-top: 20px;
    }

    #main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .country {
        width: 58%;
        height: auto;
        padding: 0;
        border-radius: 10px;
    }

    .country .img img {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
}