* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
}

html, body {
    width: 100%;
    height: auto;
    background-color: hsl(0, 0%, 99%);
    color: hsl(200, 15%, 8%);
    padding: 0;
    margin: 0;
}

#container.dark-mode {
    height: 100%;
    background-color: hsl(207, 26%, 17%);
    color: hsl(0, 100%, 100%);
}

#container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.nav-section {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: hsl(0, 100%, 100%);
    padding: 0 40px;
}

#container.dark-mode .nav-section {
    background-color: hsl(209, 23%, 22%);
    color: hsl(0, 100%, 100%);
}

.nav-section .nav-left h3 {
    font-size: 16px;
    font-weight: 800;
}

.nav-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-right button {
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: none;
    cursor: pointer;
}

#container.dark-mode .nav-right button{
    background-color: hsl(209, 23%, 22%);
    color: hsl(0, 100%, 100%);
}

.nav-right button span {
    width: 16px;
    height: 14px;
    background-image: url('/assets/icon/moon-light.png');
    background-size: contain;
    background-repeat: no-repeat;
}

#container.dark-mode .nav-right button span {
    width: 16px;
    height: 14px;
    background-image: url('/assets/icon/moon-dark.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.nav-right button p {
    font-size: 13px;
    font-weight: 600;
}

.btn-container {
    width: 100%;
    padding: 40px 40px 20px;
}

.btn-container button {
    width: 180px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
}

#container.dark-mode .btn-container button {
    background-color: hsl(209, 23%, 22%);
    color: hsl(0, 100%, 100%);
}

.btn-container button span {
    width: 16px;
    height: 14px;
    background-image: url('/assets/icon/back.png');
    background-size: contain;
    background-repeat: no-repeat;
}

#container.dark-mode .btn-container button span {
    width: 16px;
    height: 14px;
    background-image: url('/assets/icon/back-white.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.btn-container button p {
    padding-left: 10px;
}


/* Main section */
#main {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#main .country {
    width: 100%;
    display: flex;
    align-items: center;
}

.country .img{
    width: 50%;
    padding: 40px 80px;
}

.country .img img {
    width: 600px;
    height: 400px;
}

.country .info-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.info-container .info-top {
    padding-bottom: 40px;
}

.info-container .info-mid {
    display: flex;
}

.info-mid .info-left {
    padding-right: 40px;
}

.info-mid .info-left div {
    padding-bottom: 20px;
    display: flex;
}

.info-mid .info-left div p {
    padding-left: 10px;
}

.info-mid .info-right {
    padding-left: 40px;
}

.info-mid .info-right div {
    padding-bottom: 20px;
    display: flex;
}

.info-mid .info-right div p {
    padding-left: 10px;
}

.info-container .info-bottom {
    padding-top: 80px;
    width: 600px;
}

.info-bottom div {
    display: flex;
    flex-direction: column;
}

.info-bottom .text {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
}

.info-bottom .text p {
    padding: 20px 20px 0 0;
}

@media only screen and (max-width: 756px) {
    #main {
        height: auto;
    }

    #main .country {
        align-items: flex-start;
        flex-direction: column;
    }
    
    .country .img img {
        width: 500px;
        height: 280px;
    }

    .info-container .info-mid {
        flex-direction: column;
    }

    .info-mid .info-right {
        padding: 0;
    }

    .info-bottom .text {
        flex-direction: row;
    }

    #container.dark-mode #main .info-bottom .text p {
        width: 14%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: hsl(209, 23%, 22%);
        color: hsl(0, 100%, 100%);
    }
}